#backend_packages
fastapi==0.115.9
uvicorn==0.34.2
python-dotenv==1.1.0
python-multipart==0.0.5

#crewai package
crewai-tools==0.44.0
crewai==0.120.1

#pydatic package
pydantic-settings==2.9.1
pydantic==2.11.4

# pdf packages
PyMuPDF==1.25.5
pypdf==5.4.0
chromadb==0.5.23

#langchain packages
langchain==0.3.25
langchain-community==0.3.23
langchain-huggingface==0.2.0
numpy<2
#embedding 
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
torchvision==0.17.0+cpu
sentence-transformers==4.1.0

#vector db and provider 
faiss-cpu==1.7.4
google-generativeai==0.8.5

#testing packages
ruff==0.11.10