crewai== 0.118.0
pydantic==2.11.4
python-dotenv==1.1.0
fastapi == 0.115.9
uvicorn==0.34.2

PyMuPDF==1.25.5
pydantic-settings ==2.9.1
python-multipart==0.0.5
langchain==0.3.25
langchain-community==0.3.23
langchain-huggingface==0.2.0
sentence-transformers==4.1.0
chromadb==1.0.9
pypdf==5.4.0
firecrawl-py==2.5.4
crewai-tools==0.44.0
google-generativeai==0.8.5
pytest==8.3.5
httpx==0.28.1
ruff==0.11.10